
/* Base Styles */
/* ------------------ */

body {
	font-family: "Raleway", sans-serif;
	color: #2B2B2B;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.7s;
    -moz-animation-duration:0.7s;
    animation-duration:0.7s;
}	

header {
	width: 100%;
	margin-top: 30px
}


/* Header */
/* ------------------ */

h1, h2, h3 {
	font-weight: 600;
}

h1 {
	margin: 0;
	left: 25px;
	width: 50%;
	float: left;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	font-size: 15px;
	text-transform: uppercase;
	margin: 0 0 0 30px;
	letter-spacing: 1px;
	padding: 20px 0;
}

h3 {
	font-size: 12px;
	margin: 0 0 0 35px;
}

h4 {
	font-weight: 400;
	font-size: 10px;
	margin: 0 0 0 35px;
	color: #BABABA;
}

li {
	font-size: 12px;
	font-weight: 300;
	line-height: 17px;
	text-align: left;
}

p {
	margin: 0 0 0 35px;
	font-size: 12px;
	font-weight: 300;
	line-height: 17px;
}


/* Links */
/* ------------------ */

a {
	color: #2B2B2B;
	transition: all .2s ease-in-out;
}

a:hover {
	color: #1985BC;
	text-decoration: none;
}

.info-details li {
	text-align: right;
	font-size: 12px;
	line-height: 17px;
	list-style-type: none;
	font-weight: 300;
}

.container {
	max-width: 800px;
	background: white;
	margin-top: 40px;
	height: 960px;
}

.container-fluid {
	background: #2B2B2B;
	height: 1040px;
}

.education {
	margin-bottom: 10px;
}

.experience li {
	margin: 12px 0 12px 30px;
}

.experience ul {
	margin-bottom: 20px;
}

.light {
	font-weight: 400;
	font-size: 10px;
}

.skills-list {
	margin: 10px 0 30px 0;
	padding-left: 35px;
	line-height: 10px;
	text-align: left;
	list-style-type: none;
}

.skills-list li {
	line-height: 17px;
	margin-left: 10px;
}

.pad-left {
	padding-left: 44px;
}

